.container{
    position: relative;
    height: 100vh;
    max-height: 100dvh;
    max-width: 100%;
    background: rgba(93, 128, 255, 0.93);
}
.hero{
    box-sizing: border-box;
    display: flex;
    row-gap: 1.8rem;
    padding: 4rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.circle{
    position: absolute;
    bottom: 0;
    max-width: 20%;
    min-height: 10%;
    right: 0;
}